body{
    font-family: Arial;
    margin:0;
}

header{
    background:black;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:pink;
    padding:20px;
    text-align:center;
}

nav a{
    color:gray;
    margin:0 10px;
    text-decoration:none;
}

section{
    padding:20px;
}

footer{
    background:black;
    color:gray;
    text-align:center;
    padding:15px;
}


